<section id="home-section" class="home-intro-section text-center">
    <div class="container" fxLayout="column" fxLayoutWrap="nowrap">
      <!-- <div class="home-intro-subtitle">
       Angular Landing + Egret Admin
      </div> -->
      <h1 class="home-intro-title">{{ 'Clean up your email lists quickly' | translate}}</h1>
      <p class="home-intro-text">{{ "Delete bounced, invalid and non-existent emails to improve your delivery rate" | translate}}!</p>
        <button mat-raised-button mat-lg-button class="intro-cta">
            <!-- <mat-icon>add_shopping_cart</mat-icon> -->
            {{ 'GET STARTED FOR FREE' | translate}}
        </button>
      <div class="intro-product">
        <!-- <img  src="assets/images/main.png" alt=""> -->
        &nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;
      </div>
    </div>
  </section>