.plan-pricing .mat-list-item ::ng-deep .mat-list-item-content {
    display: inline-flex !important;
    // text-align: center;
    font-size: .875rem !important;
  }


  .section-header{
    h2{
      text-align: center;
      font-size: 30px;
      padding-top: 40px;
    }
  }

  .text-type{
    font-size: 14px !important;
  }
